<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <title>NewMenuItem</title>
</head>
<body>

<h1> New Menu Item </h1>
<div class = 'pane'>
    <form action="{{url_for('new_menu_item', restaurant_id=restaurant_id)}}" method = 'POST'>
        <dl>
            <dt>Name:</dt>
            <dd><input type='text' size='30' name='name'
                       placeholder='Item name'></dd>
            <dt>Description:</dt>
            <dd><textarea name='description' rows='5' cols='40'
                          placeholder='Item description'></textarea></dd>
            <dt>Price:</dt>
            <dd><input type='text' size='8' name='price'
                       placeholder='$0'></dd>
            <dt>Course:</dt>
            <dd><input type='radio' name='course' value='Appetizer' checked>Appetizer</dd>
            <dd><input type='radio' name='course' value='Entree'>Entree</dd>
            <dd><input type='radio' name='course' value='Dessert'>Dessert</dd>
            <dd><input type='radio' name='course' value='Beverage'>Beverage</dd>
        </dl>
        <input type='submit' value='Create'>
        <a href="{{url_for('restaurant_menu', restaurant_id=restaurant_id)}}">Cancel</a>
    </form>
</div>
</body>
</html>