{% extends 'main.html' %}
{% from 'macros.html' import render_fieldBS %}
{% block content %}
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <h1> New Restaurant </h1>
            <form action="{{ url_for('new_restaurant') }}" method="POST">
                {{ form.hidden_tag() }}
                <fieldset>
                    {{ render_fieldBS(form.name, placeholder=form.name.label.text) }}
                </fieldset>
                <br>
                <fieldset class="text-right">
                    <button type="submit" class="btn btn-primary">Create</button>
                    <a href="{{url_for('show_restaurants')}}" class="btn btn-default" role="button">Cancel</a>
                </fieldset>
                <br><br>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
{% endblock %}